function <%= helpers.toPascalCase(moduleName) %> () {
  console.log('page view: [<%= helpers.toPascalCase(moduleName) %>]')
  return <h1><%= helpers.toPascalCase(moduleName) %></h1>
}

export const route = {
  path: '/<%= moduleName %>',
  name: '<%= helpers.toPascalCase(moduleName) %> ',
  element: <<%= helpers.toPascalCase(moduleName) %>  />
}
