{
  "name": "<%= projectName %>",
  "$schema": "<%= pathToRoot %>/node_modules/nx/schemas/project-schema.json",
  "sourceRoot": "modules/<%= moduleName %>/src",
  "projectType": "library",
  "targets": {
    "lint": {
      "executor": "@nrwl/linter:eslint",
      "outputs": [
        "{options.outputFile}"
      ],
      "options": {
        "cache": true,
        "lintFilePatterns": [
          "modules/<%= moduleName %>/**/*.{ts,tsx}"
        ]
      }
    },
  },
  "tags": []
}
